doctype 5
html(ng-app="myApp")
  head
    title= title
    block styles
      link(rel='stylesheet', href='./css/bootstrap.min.css')
      link(rel='stylesheet', href='./css/font-awesome.min.css')
      link(rel='stylesheet', href='./css/style.css')
    block scripts
      script(src='./lib/angular.min.js')
      script(src='./lib/ui-bootstrap-0.4.0.min.js')
      script(src='./js/app.js')
      script(src='./js/controllers.js')
      script(src='./js/filters.js')
      script(src='./js/directives.js')
      script(src='./js/services.js')
      script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDri1Tr1SmCfZM4sOpAkzHJ0-YZQ_5iqDw&sensor=false")
  body
    .navbar.navbar-fixed-top(ng-controller="NavCtrl")
      .navbar-inner
        .container
          a.brand #{title}
          ul.nav
            li(ng-class="nav('home')")
              a(href="#")
                i.icon-home
                | Spätis
            li(ng-class="nav('add')")
              a(href="#/add")
                i.icon-plus
                | Hinzufügen
          ul.nav.pull-right
            li.dropdown
              a(href="#", class="dropdown-toggle", data-toggle="dropdown")
                i.icon-user
                | #{user.username}
                b.caret
              ul.dropdown-menu
                li
                  a(href="#")
                    i.icon-group
                    | Users
                li
                  a(href="#")
                    i.icon-cog
                    | Change Password
                li.divider
                li
                  a(href="./logout")
                    i.icon-signout
                    | Logout
    .container-fluid(ng-view)
    script(src="http://code.jquery.com/jquery.js")
    script(src="./lib/bootstrap.min.js")