.navbar-inner img {
    float: left;
    margin: 5px;
}

body {
    padding: 60px 0;
    margin: 0;
}

input[type=text] {
    vertical-align: inherit;
}

.hidden {
    display: none;
    visibility: hidden;
}

.yellow {
    color: #E9DC51;
}

.btn {
    margin-left: 4px;
}

.smaller {
    width: 150px;
}

.min600 {
    min-width: 800px;
}