div.min600(ng-controller="SpaetiListCtrl")
    div#deleteModal.modal.hide(tabindex="-1", role="dialog")
        .modal-header
            button.close(data-dismiss="modal") x
            h3 Achtung
        .modal-body
            | Willst du diesen Späti wirklich wirklich wirklich löschen?
        .modal-footer
            button.btn(data-dismiss="modal") Lieber nicht.
            button.btn.btn-danger(data-dismiss="modal", ng-click="remove()") Ja, jetzt löschen.
    .row-fluid
        .span4
            .input-prepend
                .add-on
                    i.icon-search
                input(type="text", ng-model="search", placeholder="Filter")
        .span5
            .input-prepend
                .add-on
                    i.icon-sort-by-attributes
                select(ng-model="orderProp")
                    option(ng-selected = "true", value="name") Alphabetical
                    option(value="address") By Adress
        .span3
            a.btn.btn-success(href="#/add")
                i.icon-plus
                | Späti hinzufügen
    p {{spaetis.length}} Spätis
    table.table
        tr
            th
            th Name
            th Addresse
            th Besitzer
            th Details
            th Remove
        tr(ng-repeat="spaeti in spaetis | filter:search | orderBy:orderProp")
            td
                i(class="{{spaeti.published | published}}")
            td
                span(ng-hide="spaeti.edit.name") {{spaeti.name}}
                button.btn.btn-link.btn-small.pull-right(ng-hide="spaeti.edit.name", ng-click="edit(spaeti,'name')")
                    i.icon-pencil
                input.smaller(type="text", ng-show="spaeti.edit.name", ng-model="spaeti.name")
                button.btn.btn-success.btn-small.pull-right(ng-show="spaeti.edit.name", ng-click="update(spaeti,'name')")
                    i.icon-ok
                button.btn.btn-link.btn-small.pull-right(ng-show="spaeti.edit.name", ng-click="cancelEdit(spaeti,'name')")
                    i.icon-remove
            td
                span(ng-hide="spaeti.edit.street") {{spaeti.location.street}}
                button.btn.btn-link.btn-small.pull-right(ng-hide="spaeti.edit.street", ng-click="edit(spaeti,'street')")
                    i.icon-pencil
                input.smaller(type="text", ng-show="spaeti.edit.street", ng-model="spaeti.location.street")
                button.btn.btn-success.btn-small.pull-right(ng-show="spaeti.edit.street", ng-click="update(spaeti,'street')")
                    i.icon-ok
                button.btn.btn-link.btn-small.pull-right(ng-show="spaeti.edit.street", ng-click="cancelEdit(spaeti,'street')")
                    i.icon-remove
            td
                | {{spaeti.markedByOwner | owner}}
            td
                button.btn(class="{{spaeti.published | publishedButtonClass}}")
                    i(class="{{spaeti.published | publishedButtonIcon}}")
                    | {{spaeti.published | publishedButtonName}}
            td
                button.btn.btn-danger(href="#deleteModal", ng-click="remove(spaeti)",role="button", class="btn", data-toggle="modal")
                    i.icon-trash
                    | Remove
